:root {
    --color1: #6DA7C1;
    --color2: #99D98C;
    --color3: #4891B2;
    --color4: #f1f1f1;
}

*{
    box-sizing: border-box;
    color: #000000;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--color1);
    font-size: 30px;
}

/*Navigation*/

.nav-container{
background: #99D98C;
border-radius: 0px 0px 40px 40px;
height: 75px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    padding-left: 450px;
}

/*nav ul{*/
/*    display: inline-block;*/
/*}*/

nav li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    padding-top: 0%;
}
.nav-items ul{
    position: fixed;
    display: inline-block;
}
.nav-items li{
    list-style: none;
    margin-right: 30px;
}


#logo{
    position:absolute;
    top:0px;
    left:50px;
    width:80px;
    height:80px;
    overflow:hidden;
}
nav li:nth-last-of-type(1){
    margin: 0;
}

.nav-items li a{
    color: #000000;
    text-decoration: none;;
}

.nav-items li a:hover{
    color: var(--color4);
}

nav li input[type="text"]{
    position:relative;
    background-color:#6DA7C1;
    margin-left: 75px;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 20px;
  }

.header-list{
    width: 100%;
    height: 500px;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 100px;
}
div.header-container{
    text-align: center;
    align-content: space-between;
}
.header-list li{
    position: relative;
    padding-top: 50px;
    list-style: none;
    justify-content: center;
}
.header-list li a:hover{
    color:#f1f1f1;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px;
    height: 606px;
    padding-top: 200px;
    padding-right: 150px;
    justify-content: space-between;
}

.card{
    background: #99D98C;
    border-radius: 0px;
}
.card p{
    font-size: 16px;
    margin: 20px;
}
.card p a{
    text-decoration: none;
    color:#000000
}

.card p a:hover{
    color:#f1f1f1;
}

.more-containter{
    position: absolute;
    width: 89px;
    height: 48px;
    left: 675px;
    top: 873px;
    align-content: center;
}

.more-containter a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin-right: 120px;

}
.more-containter a:hover{
    color:#f1f1f1;
}
header a{
    background: #99D98C;
    border-radius: 100px;
    padding: 12px 48px;
}

.profile{
   background: #99D98C;
    border-radius: 0px;
    margin-left: 485px;
    margin-bottom: 400px;
    margin-top: 400px;
}

.profile p{
    font-size: 16px;
    margin: 20px;
}
.profile p a{
    text-decoration: none;
    color:#000000
}

.profile p a:hover{
    color:#f1f1f1;
}

.gallery-container{
    padding-top: 100px;
    width: 80%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 105px;
    text-decoration: none;

}
.gallery-container a div{
    width: 280px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
}

.gallery-container a{
    text-decoration: none;
}

.gallery-container a:hover {
    box-shadow: 0 0 20px rgba(0, 140, 186, 0.8);
}

.gallery-container h3 {
    padding-top: 20px;
    background: #99D98C;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.gallery-container p {
    background: #99D98C;
    padding-bottom: 20px;
    text-align: center;

}

.gallery-container button {
    margin:auto;
    display:block;
    background: #99D98C;
    width: 100%;
    margin-bottom: 20px;
 }
.gallery-container button:hover {
    background: #6DA7C1;
}

header{
    position: relative;
}
.header-list {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0d141f;
}

.header-list a{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-decoration: none;
    width: 100px;
    color: #000000;
}

@media screen and (max-width: 600px){
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        font-family: 'Poppins', sans-serif;
        background: #6DA7C1;
    }

    .nav-containter{
        background: #99D98C;
        border-radius: 0px 0px 40px 40px;
        height: 75px;
    }

    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }
    nav{
        display: inline-block;
        padding-top: 25px;
        align-items: center;
        justify-content: space-between;
        margin-left: 10px;
        padding-left: 20px;
        font-size: 20px;
    }

    nav li{
        display: inline-block;
        margin: 0px 20px;
        list-style: none;
        width:20px;

    }
    #logo{
        display: none;
        position:absolute;
        top:10px;
        left:30px;
        width:60px;
        height:60px;
        overflow:hidden;
    }
    nav li:nth-last-of-type(1){
        margin: 0;
    }

    nav li a{
        color: #000000;
        font-size: 12px;
        font-family:"Poppins", sans-serif;
        text-decoration: none;
    }

    nav li a:hover{
        color: white;
    }

    nav li input[type="text"]{
        position:relative;
        background-color:#6DA7C1;
        top: 50%;
        width: 150px;
        right: 2000px;
        /*background-attachment: fixed;*/

        border: none;
        margin-left: 2px;
        font-size: 20px;
    }

    .header-container{
        display: flex;
        background-repeat: no-repeat;
        padding-left: 100px;
        padding-top: 10px;
    }

    header ul{
        display: inline-table;
    }


    .header-list li{
        list-style: none;
        align-items: flex-start;
        padding-top: 20px;
    }

    .header-list li:nth-last-of-type(1){
        margin: 0;
    }

    .header-list li a{
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 48px;
        text-decoration: none;
        width: 100px;
        color: #000000;
    }


    .header-list li a:hover{
        color:#f1f1f1;
    }

    header a{
        background: #99D98C;
        border-radius: 100px;
        padding: 12px 48px;
    }

    .profile{
        background: #99D98C;
        border-radius: 0px;
        margin-left: 485px;
        margin-bottom: 400px;
        margin-top: 400px;
    }

    .profile p{
        font-size: 16px;
        margin: 20px;
    }
    .profile p a{
        text-decoration: none;
        color:#000000
    }

    .profile p a:hover{
        color:#f1f1f1;
    }
    .row2{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px;
        height: 806px;
        justify-content: space-between;

    }

    .card2{
        background: #99D98C;
        border-radius: 0px;
    }
    .card2 p{
        font-size: 16px;
        margin: 20px;
    }
    .card2 p a{
        text-decoration: none;
        color:#000000
    }

    .card2 p a:hover{
        color:#f1f1f1;
    }

}
