*{
    box-sizing: border-box;
    color: #000000;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-container{
    background: #99D98C;
    border-radius: 0px 0px 40px 40px;
    height: 75px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-size: 32px;
    text-align: center;
    margin-top: 80px;
}
/*.nav-containter{*/
/*    background: #99D98C;*/
/*    border-radius: 0px 0px 40px 40px;*/
/*    height: 75px;*/
/*}*/

/*.wrapper{*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

nav{
    display: flex;
    justify-content: space-between;
    height: 2px;
    padding-right: 10px;
}
nav ul{
    display: flex;
    padding-top: 0%;
}
.nav-items ul{
    position: fixed;
    display: inline-block;
}

#logo{
    position:absolute;
    top:0px;
    left:50px;
    width:80px;
    height:80px;
    overflow:hidden;
}

.header-container {
    background: rgba(109, 167, 193);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    left: auto;
    margin-right: auto;
    margin-top: 400px;
}

.form{
    width: 300px;
    height: 500px;
    background: #99D98C;
    position: absolute;
    top: 300px;
    left: 1000px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #000000;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 4px;
    padding: 8px;
}

.form h2:hover{
    background: #fff;
    color: #6DA7C1;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #000000;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #000000;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #000000;
    font-family: Arial;
}

.btnn{
    text-align: center;
    width: 240px;
    height: 40px;
    background: #fff;
    border: none ;
    margin-top: 30px;
    font-size: 22px;
    border-radius: 10px;
    cursor: pointer;
    color: #6DA7C1;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: #6DA7C1;
}

.btnn a{
    text-align: center;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.btnn a:hover{
    background: #fff;
    color: #6DA7C1;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;

}

.form .link a{
    text-decoration: none;
    color: #6DA7C1;
    text-align: center;
    align-items: center;
}

.form a:hover{
    background: #fff;
    color: #6DA7C1;
}

.hero-content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.hero-content h2{
    font-family: 'Arial';
    font-size: 32px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-align: center;

}

@media screen and (max-width: 600px){

    .nav-container{
        position: relative;
        background: #99D98C;
        border-radius: 0px 0px 40px 40px;
    }


    h1{
        font-size: 20px;
        text-align: center;
        margin-top: 80px;
    }


    .wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }

    nav{
        display: flex;
        justify-content: space-between;
        height: 2px;
        padding-right: 10px;
    }
    nav ul{
        display: flex;
        padding-top: 0%;
    }
    .nav-items ul{
        position: fixed;
        display: inline-block;
    }

    #logo{
        position:absolute;
        top:0px;
        left:50px;
        width:80px;
        height:80px;
        overflow:hidden;
    }


    .header-container {
        background: rgba(109, 167, 193);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        height: calc(100vh - 72px);
        display: flex;
        align-items: center;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero-image{
        display: none;
        left: auto;
        margin-right: auto;
        margin-top: 400px;
    }

    .form{
        width: 300px;
        height: 500px;
        background: #99D98C;
        position: absolute;
        top: 150px;
        left: 100px;
        border-radius: 10px;
    }

    .form h2{
        width: 220px;
        font-family: sans-serif;
        text-align: center;
        color: #000000;
        font-size: 22px;
        background-color: #fff;
        border-radius: 10px;
        margin: 4px;
        padding: 8px;
    }

    .form h2:hover{
        background: #fff;
        color: #6DA7C1;
    }

    .form input{
        width: 240px;
        height: 35px;
        background: transparent;
        border-bottom: 1px solid #000000;
        border-top: none;
        border-right: none;
        border-left: none;
        color: #000000;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
    }

    .form input:focus{
        outline: none;
    }

    ::placeholder{
        color: #000000;
        font-family: Arial;
    }

    .btnn{
        text-align: center;
        width: 240px;
        height: 40px;
        background: #fff;
        border: none ;
        margin-top: 30px;
        font-size: 22px;
        border-radius: 10px;
        cursor: pointer;
        color: #6DA7C1;
        transition: 0.4s ease;
    }

    .btnn:hover{
        background: #fff;
        color: #6DA7C1;
    }

    .btnn a{
        text-align: center;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    .btnn a:hover{
        background: #fff;
        color: #6DA7C1;
    }

    .form .link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        padding-top: 20px;

    }

    .form .link a{
        text-decoration: none;
        color: #6DA7C1;
        text-align: center;
        align-items: center;
    }

    .form a:hover{
        background: #fff;
        color: #6DA7C1;
    }

    .hero-content .par{
        display: none;
        padding-left: 20px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 30px;
    }

    .hero-content h2{
        display: none;
        font-family: 'Arial';
        font-size: 32px;
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 2px;
        text-align: center;

    }
}